services:
  keycloak:
    image: quay.io/keycloak/keycloak:22.0.5
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: Feti2030
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://dpg-d5uvmrp4tr6s739aoqfg-a/elinaradb
      KC_DB_USERNAME: root
      KC_DB_PASSWORD: t9rNDtYlDvyOd3pSZDK4vY7s58eDHYXd
      # In production, change this to your actual Keycloak domain
      #KC_HOSTNAME_URL: http://localhost:8080
      KC_HOSTNAME_URL: keycloak-deploy-datatuning-auth.onrender.com
      KC_HOSTNAME_STRICT: "false"
      KC_HTTP_ENABLED: "true"
      KC_TRANSACTION_MANAGER_ENABLE_RECOVERY: "true"
      QUARKUS_TRANSACTION_MANAGER_ENABLE_RECOVERY: "true"
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U keycloak" ]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: .
    ports:
      - "8000:8000"
    environment:
      # If Keycloak is on another host, use that URL here
      KEYCLOAK_URL: https://keycloak-deploy-datatuning-auth.onrender.com
      KEYCLOAK_REALM: elinara-realm
      KEYCLOAK_CLIENT_ID: elinara-client
      KEYCLOAK_CLIENT_SECRET: ${KEYCLOAK_CLIENT_SECRET}
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    depends_on:
      - keycloak
